small {
    font-size: 80%;
}

@media screen and (max-width: 991px) {
.sidebar-collapse .navbar-collapse:before {
      background: #67737F;
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
  }

  .sidebar-collapse .navbar .dropdown .dropdown-item {
    padding-left: 1.5rem;
  }
}

.navbar {
  display: block !important;
}

.navbar-brand {
    font-weight: 600;
    margin-right: 1.5rem;
}

.navbar-brand img {
    margin-right: 0.25rem;
}

.navbar-lg {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.navbar-brand-lg {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1.5rem;
}

.navbar-brand-lg img {
    margin-right: 1rem;
}

a:hover.navbar-brand-lg {
  text-decoration: none;
}

.sidebar-collapse .navbar .dropdown.show .dropdown-menu, .sidebar-collapse .navbar .dropdown .dropdown-menu {
    height: auto !important;
}

.my-header {
    min-height: 300px;
    background-color: #868e96;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    padding-top: 160px;
    text-align: center;
    color: #fff;
}

.my-header > .container {
  min-height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-header > .container > h2 {
  margin-bottom: 0;
}

.section-news {
    margin-top: 150px;
}

@media screen and (max-width: 992px) {
  .my-header {
      min-height: 140px;
      background-color: #868e96;
      background-image: url('../img/bg.png');
      background-repeat: repeat;
      padding-top: 70px;
      text-align: center;
      color: #fff;
  }

  .section-news {
      margin-top: 50px;
  }
}

.text-wrap {
    word-wrap: break-word;
}

.bg-secondary {
    background-color: #868e96 !important;
}

.text-secondary {
    color: #868e96;
}

.my-header small {
    display: block;
    margin-top: 15px;
    color: #fff;
    opacity: 0.7;
}

.navbar-nav {
    padding-left: 0px !important;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        padding-left: 0;
    }
}

.btn-departamentos {
    padding: 20px 15px;
    text-align: left;
    font-size: 0.875rem;
}

.media-heading {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-pad5 {
  padding-top: 5px !important;
}

.card-box {
    border-top: 3px solid #f96332 !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 1px 4px #ddd;
    color: #666;
}

.card-box.secondary {
    border-color: #868e96 !important;
}

.media {
    background: #fff;
    box-shadow: 0px 1px 4px #ddd;
    margin-bottom: 15px;
}

.media:hover {
    box-shadow: 0px 1px 8px #bbb;
}

.media.bg-secondary a {
    color: #fff;
}

.media.bg-secondary .text-muted {
    color: #fff !important;
    opacity: 0.7;
}

.media.bg-secondary p {
    color: #fff;
}

.media.bg-secondary .btn-default{
    background-color: #fff !important;
    color: #333;
    opacity: 0.5;
}

.section-resources a > img {
    opacity: 0.5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
 .section-resources a > img:hover {
    opacity: 1;
}

.nav-pills.nav-pills-no-round .nav-item .nav-link {
    border-radius: .25rem !important;
    width: auto;
    height: auto;
    padding: .5rem 1rem;
}

.nav-pills.flex-column li>a {
    margin-bottom: 15px;
}

.page-header {
  max-height: 900px !important;
}

.index-page .page-header .container>.content-center {
  top: 40%;
  max-width: 440px;
}

.card .card-body {
  min-height: auto;
}

/* COOKIE */

#barraCookies {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:50px;
    background-color: rgba(0, 0, 0, 0.85);
    color:#fff;
    z-index:99999;
}

#barraCookies .inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    padding: 5px 15px;
}
